name: Deploy to Server

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Test SSH connection
      run: ssh -i ~/.ssh/id_ed25519 -o StrictHostKeyChecking=no ubuntu@98.93.5.11 "echo SSH is working!"

    - name: Run deploy script on server
      run: |
        ssh -i ~/.ssh/id_ed25519 -o StrictHostKeyChecking=no ubuntu@98.93.5.11 "
          cd /var/www/devops_app &&
          bash deploy.sh
        "
